$mainBgColor: #F3F4F6;
$secondaryBgColor: #FFFFFF;
$mainTextColor: #1F2937;
$secondaryTextColor: #FFFFFF;
$mainAccentColor: #9B5ED1;
$secondaryAccentColor: #E67E22;
$warningColor: #FF0000;
$borderColor: #E5E7EB;
$placeholderColor: #C5C5C5;

$freeBlockColor: #E5FFDC;
$occupiedBlockColor: #FFBEBE;
$st-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);